body {
  background-color: #eeeeee;
}

.stats {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.statCard {
  background-color: #2e4052;
  height: 100px;
  width: 200px;
  display: inline-block;
  margin: 10px;
  padding: 15px;
  text-align: center;
}

.statCard > * {
  color: #f5f8f6;
}

.progressBar {
  width: 80%;
  margin: 20px auto;
}

.brand {
  font-weight: bold;
  font-family: Roboto, sans-serif;
  color: rgb(32, 32, 32);
}
.brand:hover {
  color: #303030;
}

.landing-wrapper {
  width: 95%;
  height: 80%;
  margin: 30px;
  text-align: center;
}

.landing-wrapper h3 {
  color: #8d8585;
  margin: 10px 200px 10px 200px;
  font-size: 1.5em;
}

.landing-wrapper h1 {
  font-weight: bold;
  font-size: 2.5em;
  padding-top: 10px;
}

.landing-wrapper .button {
  margin: 15px;
}

#logo {
  width: 30%;
  height: 30%;
  padding-bottom: 30px;
}

.sidebar-wrapper {
  background-color: #2e4052;
  color: white;
  padding: 10px;
  position: fixed;
  width: 20%;
  height: 100%;
  padding-top: 70px;
  z-index: 0;
}

.content-wrapper {
  position: relative;
  padding-left: 25%;
  padding-top: 70px;
  z-index: 1;
}

.navbar-wrapper {
  position: fixed;
  width: 100%;
  z-index: 1;
}
