body {
  background-color: #eeeeee;
}

.stats {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.statCard {
  background-color: #2e4052;
  height: 100px;
  width: 200px;
  display: inline-block;
  margin: 10px;
  padding: 15px;
  text-align: center;
}

.statCard > * {
  color: #f5f8f6;
}

.progressBar {
  width: 80%;
  margin: 20px auto;
}

#notify-box {
  rows: 5;
}

.testing {
  color: blue;
}
